.founder{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    /* overflow: hidden; */
    transition: .5s ease;
}

.about{
    display: grid;
    height: 30vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 130px;
    margin-bottom: 1rem;
    margin-top: 18rem;
}

.aboutcontent{
    justify-self: start;
    align-self: center;
    margin-left: 28px;
}

.abouttext{
    width: 300px;
    padding-right: 10px;
    transform: translateY(-35px);
}

.about h2{
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #1F3047;
    transition: .5s ease 0s;
    margin-bottom: 24px;
    font-style: 2.4rem;
}

.about p{
    font-size: 1.2rem;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: #8596AD;
    text-align: left;
    margin-bottom: 20px;
    text-align: justify;
}


.teamimg{
    position: relative;
    top: 0;
    left: 0;
    width: 130px;
    height: 130px;
    padding: 15px;
    background: linear-gradient(180deg, #F9FAFB 0%, #EDF1F2 100%);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
    font-style: none;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: .2em;
    transition: .3s ease;
    text-transform: uppercase;
    color: #1F3047;
    margin: 50px 0;
    margin-bottom: 55px;
    overflow: hidden;
    
}

.teamimg img{
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: contain; 
    border-radius: 10px;   
    z-index: 9;
}

.teamimg h2{
    font-family: 'Poppins', sans-serif;
    color: #1F3047;
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5rem;
    font-weight: 300;
    /* box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.2); */
    z-index: 2;
    margin: 1rem;
    margin-bottom: 3rem;
}


.teamimg p{
      font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.2rem;
    font-weight: 500;
    color: #1F3047;
    text-transform: capitalize;
    margin: 0;
}


.teamimg .socialmedia{
    font-size: 2.2rem;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 0 0 10px 10px;
    /* box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2); */
    z-index: 999;
    line-height: 2rem;
    margin: 0;
    padding: 0;
}

.teamimg .socialmedia a{
    color: #8596AD;
    z-index: 999;
}

.teamimg .socialmedia a:hover{
    color: #1971e4;
}



.right{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 900px) {
    .about{
        grid-template-columns: 1fr 1fr;
    }

    .aboutcontent{
        justify-self: end;
        align-self: center;
    }

    
    .abouttext{
        width: 458px;
        padding-right: 15px;
    }

    .about h2{
        font-size: 3.2rem;
        transition: .5s ease 0s;
    }

    .about p{
        font-size: 1.6rem;
        line-height: 2.8rem;
        font-weight: 300;
        margin-bottom: 2.8rem;
    }

    .missionimgpng{
        display: block;
        width: 650px;
    }
    
    .missionimgpng img{
        width: 100%;
    }

}