.sidemenu{
    right: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 99;
    display: grid;
    grid-template-rows: 1fr;
    gap: 50px;
}

.btn{
    width: 48px;
    height: 24px;
    display: flex;
    cursor: pointer;
}

.btn1{
    transform: rotate(90deg);
    position: relative;
    width: 204px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dot{
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #1971ea;
    transition: .2s ease-in;
}